/* Formulario para agregar películas */
form {
    margin-top: 30px;
}

/* Input donde se escribe el nombre */
input {
    padding: 12px;
    width: 250px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
}

/* Botón para agregar películas */
button {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background-color: #2563eb;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

/* Cambio de color al pasar el mouse */
button:hover {
    background-color: #1d4ed8;
}

/* Contenedor de las tarjetas */
.movie-container {
    margin-top: 40px;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Tarjeta individual de película */
.movie-card {
    background-color: #1f2937;
    padding: 20px;
    border-radius: 15px;
    width: 200px;
    font-size: 1.2rem;
}